<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Appscript Prescriber TestSuite" parallel="none">
  <test name="AppSccript Smoke Test">
  <classes>
    <class name="FooterTestNavigation.Footertest"/>
     <parameter name="browser" value="CHROME"/> 
       </classes>
         </test> 
</suite>